.header {
  width: 95%;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  &__login {
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 5px 15px;
    &-link {
      text-decoration: none;
      color: #fff;
    }
  }
}
