body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.App {
  display: grid;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 14fr;
  height: 100vh;
  background-color: rgb(54, 48, 87);
}

::-webkit-scrollbar {
  width: 0;
}
